.add_question_pop_up {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 640px;
	max-width: 920px;
	padding: 20px 20px 20px 20px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 5px;
	background-clip: padding-box;
	background: #0f305a;
	box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
	overflow: hidden;
}

.title {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 40px;
	font-size: 20px;
	color: rgb(248, 248, 248);
}

#answers_fields {
	top: 300px;
	height: 250px;
	position: absolute;
	width: 96%;
	overflow: auto;
	overflow-x: hidden;
}

.text_block {
	overflow: hidden;
	width: 882px;
}

.question_text_block {
	top: 100px;
	position: relative;
}

.answer_text_block {
	height: 50px;
	margin-right: 24px;
	position: relative;
}

.answer_text_block label {
	color: #efefef;
}

.field_title {
	display: block;
	width: 120px;
	float: left;
	margin: 6px 2px;
	font: 16px Arial;
	color: #ffffff;
}

.question_text_field {
	width: 600px;
	border: 1px solid #aaa;
	border-radius: 4px;
	resize: none;
	height: 120px;
	position: relative;
}

.answer_text_field {
	border: 1px solid #aaa;
	width: 600px;
	height: 32px;
	border-radius: 4px;
}

.close-dialog {
	position: absolute;
	right: 0;
	top: 0;
	background: #993333;
	padding: 2px 8px;
}

.close-dialog:hover {
	cursor: pointer;
}

.close-dialog:before {
	font-family: Verdana;
	color: rgba(255, 255, 255, 0.9);
	content: "x";
	font-size: 20px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
	outline: none;
}

.is_correct {
	position: absolute;
	right: 20px;
	top: 6px;
}

.is_active {
	position: absolute;
	right: 95px;
	top: 6px;
}

.is_correct input[type=checkbox], 
.is_active input[type=checkbox] {
	position: relative;
	top: 2px;
}

.del_btn {
	border: 1px solid #838383;
	width: 44px;
	height: 32px;
	position: absolute;
	right: 158px;
	background: #ed5757;
	background-image: linear-gradient(to bottom, #ed5757, #bd2f2f);
	border-radius: 0px;
	font-family: Arial;
	color: #ffffff;
	font-size: 19px;
	text-decoration: none;
	border-radius: 2px 4px 4px 2px;
}

.del_btn:hover {
	background: #ed5757;
}

.save_button {
	position: relative;
	top: 440px;
	left: 380px;
}

.add_answer_button {
	position: relative;
	top: 440px;
	width: 50px;
	height: 50px;
	position: relative;
	left: 0px;
	border-radius: 4px;
	background-image: url("../images/plus_answer.png");
	background-repeat: no-repeat;
}

.add_answer_button:hover {
	cursor: pointer;
}

