body {
	margin: 0;
	background: #efefef;
}

#header {
	height: 80px;
	box-shadow: 0 1px 4px 2px #C4C4C4;
	margin: 0 auto;
	background: #006c2f;
	margin: 0 auto;
}

#header ul {
	list-style: none;
	margin: 0;
}

#header ul li {
	float: left;
	margin: 28px 22px;
}

#header ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font: 16px Verdana;
}

#header ul li a:hover {
	text-shadow: 1px 0px 3px #d7ffc7;
	cursor: pointer;
}

#content {
	width: 1024px;
	height: 720px;
	margin: 0 auto;
	box-shadow: 0px 6px 14px #dbdbdb;
	border-radius: 8px;
}

#questions_tools_panel {
	padding: 4px 10px;
	border: 1px solid rgb(236, 236, 236);
	background: transparent linear-gradient(to top, rgb(239, 239, 239), rgb(215, 215, 215)) repeat scroll 0% 0%;
}

#question_list {
	width: 100%;
	height: 95%;
	position: relative;
	margin: 0 auto;
	overflow: auto;
	
	overflow: auto;
}

.question {
	width: 99%;
	height: 64px;
	margin: 4px auto;
	border-radius: 4px;
	padding: 0px 4px;
	font: 14px Verdana;
	background: #fbfbfb;
	border: 1px solid #e4e4e4;
}

.question:hover {
	box-shadow: 0px 1px 4px rgb(209, 209, 209);
}

.question_text {
	height: 100%;
	width: 72%;
	display: block;
	float: left;
	overflow: auto;
	border-right: 1px solid #eeeeee;
}

.question_buttons {
	float: right;
	padding: 18px;
}

.menu_icon {
	position: relative;
	top: 4px;
	height: 24px;
	margin-top: -12px;
}

#page_panel {
	height: 40px;
	background: #f9f9f9;
	padding: 12px;
	box-shadow: 0 4px 8px #dbdbdb;
	border: 1px solid #ececec;
	overflow: auto;
}

#page_panel a {
	text-decoration: none;
	font-family: Verdana;
	color: #999;
	margin: 4px;
}

#page_panel a:hover {
	text-shadow: 0 1px 2px #888;
}


