.myButton {
	background: #7cbfeb;
	background-image: linear-gradient(to bottom, #73b6e3, #5692d1);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	padding: 4px 20px 4px 20px;
	text-decoration: none;
	border: 1px solid #c9c9c9;
	margin: 0px 4px 0px 0px;
}

.myButton:hover {
	background: #65a0de;
	text-decoration: none;
}