body {
	background-image: url("/resources/images/error.png");
	background-size: cover;
	background-repeat: no-repeat; 
	text-align: center;
}

#error_message {
	font: 24px Consolas;
	position: relative;
	top: 340px;
	color: #FFFFFF;
	text-shadow: 0px 2px 4px #000000;
}