.settings_pop_up {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 500px;
	max-width: 800px;
	padding: 20px 20px 20px 20px;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 5px;
	background-clip: padding-box;
	background: #051E27;
	box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
	overflow: hidden;
}

.settings_time_text_field {
	width: 197px;
	border: 10px solid #F7F5F5;
	border-radius: 4px;
	resize: none;
	height: 40px;
	position: relative;
}

.settings_text_block {
	top: 90px;
	height: 70px;
	position: relative;
	width: 96%;
	overflow: auto;
	overflow-x: hidden;
}

.settings_title {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 40px;
	font-size: 20px;
	color: rgb(248, 248, 248);
}

.settings_field_title {
	display: block;
	width: 339px;
	float: left;
	margin: 10px 70px;
	font: 18px Arial;
	color: #ffffff;
}

.settings_save_button {
	position: relative;
	top: 260px;
}

.center-align {
	text-align: center;
}