/*template page */
* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    width: 100%;
}

header {
	background: #234370;
	height: 87px;
	width: 100%;
	position: absolute;
}

header #welcome-text {
	text-align: center;
} 

header #logo {
	margin-top: 22px;
}

header p {
	font-family: 'Lobster', cursive;
	color: #FFF;
	text-transform:uppercase;
	line-height: 87px;
	font-size: 50px;
	font-weight: 500;
}

footer {
    height: 50px;
    overflow: hidden;
    margin: -50px auto 0;
    background-color: #454545;
    width: 100%;
    line-height: 50px;
    position: relative;
}

footer p {
    color: #FFF;
    font-size: 100%;
}

footer div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 1, 25;
}

/*login page*/

#user-id-form {
	margin-top: 250px;
}

#user-id-form  button{
	width: 100%;
}

#rules-modal, #result-modal {
	text-align: center;
}

/*question page*/

#quiz-content {
	padding-top: 100px;
}

#finish-test {
	width: 100%;
	margin-bottom: 25px;
}

#quiz ul {
	list-style: none;
}

#quiz-wrapper .panel-heading {
	font-weight: bold;
	background-color: #234370;
}

#quiz-content .panel-heading {
	color: #FFF;
	font-size: 14px;
}

/*questions*/
#question-text {
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}

/*timer*/
#timer {
	background: #234370;
	text-align: center;
 	width: 70px;
	height: 70px;
	color: #FFF;
	position: fixed;
	font: bold 15px/13px Helvetica, Verdana, Tahoma;
	box-shadow: 1px 1px 1px black;
	padding-top: 25px; 
	font-size: 20px;
	margin-top: 60px;
	margin-left: 60px;
	border: 3px solid #d9534f;
	border-radius: 100px;
}

/*result page*/
#close-result {
	width: 50%;
	margin-bottom: 15px;
}
#back-to-admin-btn {
    margin-top: 20px;
    position: absolute;
    left: 100px;
    width: 200px;
}

/*error style*/
.error {
	color: #d9534f;
}

/*buttons*/
.btn-func {
    width: 100%;
    height: 34px;
    color: #FFF;
    font-weight: bold;
    background: #234370;
    box-shadow: none;
    border: none;
    border-radius: 8em 4em;
}

.btn-func:hover {
    background: #3366cc;
}

.btn-func:active {
    background: #234370;
}

/*Asterisks*/
#required {
	color: #d9534f;
}

/*quiz-result page*/
#back-btn {
    position: fixed;
    left: 100px;
    width: 70px;
}
.quiz-result-content {
	padding: 100px;
}

#users-results tr {
	cursor: pointer;
}

.wrong {
	text-decoration: line-through;
}

.right {
	color: #1FC71F;
}

#quiz-wrapper .panel-heading {
	color: #FFF;
	font-size: 14px;
}

table tr,th {
	text-align: center;
}

table th {
	text-transform: uppercase;
}

#quiz-result-header {
	text-align: center;
	font-weight: 700;
	font-size: 18px;
}

#pagination-box {
	text-align: center;
    width: 100%;
}

/*mobile*/
@media (max-width: 767px) {
	#welcome-text p {
		margin-top: 25px;
		color: #000;
	}
	#logo {
		text-align:center;
	}
	
	#user-id-form {
		margin-top: 185px;
		margin-bottom: 25px;
	}
	
	#user-id-form label{
		font-size: 13px;
		float: left;
	}
	
	#timer-wrapper {
		text-align: center;
	}
	
	#quiz {
		margin-top: 170px;
	}
	
	#quiz-content {
    	padding-top: 10px;
	}
	
	#timer {
		z-index: 1;
		margin-top: 0px;
		left: 50%;
		margin-left: -35px;
	}
	
	#finish-test {
		margin-bottom: 20px;
	}
}
